aiogram
fastapi
uvicorn
sqlalchemy
databases[sqlite]
Jinja2
sqladmin
pydantic
pillow
pyzbar
opencv-python-headless
easyocr
numpy==1.23.5
pandas==1.5.3
pytesseract
python-multipart
requests
cryptography
zxing-cpp
pyzxing

